
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 8px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, blue, white, red);
}

.section, .section2 {
    text-align: center;
    margin-bottom: 30px;
    padding: 30px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: #f0f0f0;
}

img {
    width: 25%;
}

.little-pic {
    object-fit: cover;
    box-shadow: 10px 20px 20px lightslategray;
}

h1, h2 {
    font-size: 40px;
    color: blue;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

.social-icon {
    width: 50px;
    margin-top: 20px;
}


.section {
    background-color: #fff; 
}

.section2 {
    background-color: #eef2f5;
}
